@charset "UTF-8";
/* @ means rule and this rule is used to avoid problems with letter */
*{ /* this * is the universal config */
height: 100%;
}
body{
    background-image: linear-gradient(to top,#0A4273,#38D0F2);
    background-attachment: fixed;
}