body{
    background-color: darkslategrey;
}
.P1 h1{
    display: flex;
    position: flex-center;    
    justify-content: center;
}
.P1 p{
    display: flex;
    position: flex-center;    
    justify-content: center;
}
