@charset "UTF-8";
h1{
    font-size: 2.5em;
    /* always use em and px to change your font size */
    /* tip: 16px,almost every time,= 1em */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*  this font family is to fonts with serif + works in all divices  */
}
h2{
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
     /*  this font family is to fonts with monospace and serif + works in all divices  */
}
p{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    /*  this font family is to fonts without serif + works in all divices  */
}
h3{
    /* shorthand font:

    -font-style;font-weight;font-size;font-family
    
*/
font: italic bolder 3em "sans-serif";
}